{% extends 'catalog/base.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}

    <div class="row text-start">
        <div class="col-lg-9 col-md-6 col-sm-12 ">
            <div class="card mb-4 box-shadow ">
                <div class="card-body">
                    <table class="table table-striped">

                        <tr>
                            <td class="w-25">Страна</td>
                            <td>{{contact.country}}</td>
                        </tr>
                        <tr>
                            <td class="w-25">ИНН</td>
                            <td>{{contact.tax_reg_number}}</td>
                        </tr>
                        <tr>
                            <td class="w-25">Адрес</td>
                            <td>{{contact.address}}</td>
                        </tr>
                        <tr>
                            <td class="w-25">Телефон</td>
                            <td>{{contact.phone}}</td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
