{% extends "catalog/base.html" %}

{% block title %}
{% if object%}
Редактирование
{% else %}
Регистрация
{% endif %}

{% endblock %}




{% block content %}
{% if object%}
<h4>Редактирование пользователя</h4>
{% else %}
<h4>Создание пользователя</h4>
{% endif %}


<!--  <h2>Регистрация</h2>-->
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}

  {% if object%}
    <button type="submit" class="btn btn-primary">Сохранить</button>
  {% else %}
   <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
  {% endif %}






  </form>
{% endblock %}