{% extends 'catalog/base.html' %}

{% block title %}Шаблон{% endblock %}

{% block content %}
    <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Добавление продукта</h4>
                </div>
                <div class="card-body">
                    <form method="post" action="" class="form-floating" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-row">
                             <div class="form-group col-md-6">

                                 <div>

                                     {% for field in form %}
                                     <div class="mb-3">
                                        <div>{{field.label_tag}}</div>
                                        <div>{{field}}</div>

                                     </div>
                                    {% endfor %}
                                 </div>
                                 <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Отправить</button>
                             </div>


                        </div>


                    </form>
                </div>
            </div>
        </div>



{% endblock %}