{% extends 'catalog/base.html' %}

{% block title %}Описание продукта{% endblock %}

{% block content %}

   <div class="row text-center">
        <div class="col-6 ">
            <div class="card mb-4 box-shadow start-50">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{product.name}} </h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$ {{product.price}}</h1>
                    <p class="card-text">{{product.description}}</p>

                    <img src=/media/{{product.photo}} class="img-thumbnail" width="200" ">
                    <h6 class="font-weight-normal">Категория: {{product.category.name}} </h6>
                    {% if perms.catalog.can_unpublish_product or user == product.owners %}
                    <a href="{% url 'catalog:product_mod' product.pk %}" class="btn btn-secondary">Редактировать</a>
                    <a href="{% url 'catalog:product_delete' product.pk %}" class="btn btn-danger">Удалить</a>
                     {% endif %}
                    <a href="{% url 'catalog:product_mod_list' %}" class="btn btn-primary">Вернуться к списку</a>

                </div>
            </div>
        </div>
   </div>
{% endblock %}


